# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
#.vscode

# Temporary files which can be created if a process still has a handle open of a deleted file
/tmp

.DS_Store
config.json